footer {
  background: linear-gradient(135deg, #4361ee 0%, #4cc9f0 100%);
  color: white;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: 0 auto;
  max-width: 1280px;
  padding: 40px 32px;
}

footer a:any-link {
  color: white;
}

footer a:hover {
  color: #e0f4ff;
  text-decoration: underline;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px;
  }
}
